/* Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body{
    background-color: #090e22;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}
.hide {
    display: none !important;
}
.conteiner {
    min-height: 400px;
    min-width: 400px;
    background-color: #1d1e33;
    padding: 2rem;
}

/* Formulário */
#calcConteiner h2{
    text-align: center;
    margin-bottom: 2rem;
}
.formInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formControle {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}
.formControle label {
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: #ccc;
}
.formControle input{
    padding: 1rem 0.5rem;
}
#acaoControle{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}
button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #f44236;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    flex: 1;
}
button:hover {
    opacity: 1;
}

/* Resultado */
#resultadoConteiner {
    text-align: center;
    display: flex;
    flex-direction: column;
}
#imcNumero {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
}
#situacaoAtual {
    font-size: 1.4rem;
    color: #ccc;
}
#resultadoConteiner h3{
    margin-top: 1rem;
    color: #dfdfdf;
}
#imcTabela{
    margin: 1.5rem 0;
    font-size: 0.8rem;
}
.tabelaHeader{
    font-weight: bold;
    color: #ccc;
}
.tabelaHeader, .tabela{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
}
.tabelaHeader h4, .tabela p{
    flex: 1;
}
.tabelaHeader h4:nth-child(3), .tabela p:nth-child(3){
    max-width: 80px;
}
#voltarBotao {
    align-self: center;
}
.good {
    color: #12db34;
}
.low {
    color: #dbce12;
}
.bad {
    color: #db6212;
}
.veryBad {
    color: #db1912;
}
.medio {
    color: #dbac12;
}